name: milkyway-ai
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - joblib
  - pip
  - pip:
      - streamlit
      - fastapi
      - uvicorn
      - pydantic